@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Yeseva+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .background {
    background-image: url("https://cdn.prod.website-files.com/63f8c396b4c0fa3d9fb7cca5/63fe003a8dc4be0967d7d42f_Animals%201%20(1).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner-overlay {
    background-image: linear-gradient(135deg, #000000ca, #00000000);
    position: absolute;
    inset: 0%;
  }

  .stay-background {
    background-image: url("https://cdn.prod.website-files.com/63f8c396b4c0fa3d9fb7cca5/63fcaa388595bf42d9a4e742_Animals%2010.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .our-mission {
    background-image: url("https://cdn.prod.website-files.com/63f8c395b4c0fa2184b7cc93/63fdd7fc8f3f2e50a4b920dc_Photo%201%20(1)%20(1)%20(1).webp");
    background-position: contain;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Yeseva One", serif;
    font-weight: bold;
    color: white !important;
  }

  p {
    font-family: "DM Sans", sans-serif;
  }

  .header-p {
    font-family: "DM Sans", sans-serif;
  }

  .hamburger {
    height: 2px;
  }
}
