@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Yeseva+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .background {
    background-image: url("/public/assets/img/cheetah.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner-overlay {
    background-image: linear-gradient(135deg, #000000ca, #00000000);
    position: absolute;
    inset: 0%;
  }

  .stay-background {
    background-image: url("/public/assets/img/koalla.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .our-mission {
    background-image: url("/public/assets/img/lizard.webp");
    background-position: contain;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Yeseva One", serif;
    font-weight: bold;
    color: white !important;
  }

  p {
    font-family: "DM Sans", sans-serif;
  }

  .header-p {
    font-family: "DM Sans", sans-serif;
  }

  .hamburger {
    height: 2px;
  }
}
